.bind-tel-container
{
    z-index: 9;
    .box
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 200px;
        margin: auto;
    }
    .form-ground
    {
        .item
        {
            position: relative;

            height: 40px;
            padding: 0 15px;
            .getCodeBtn
            {
                font-size: 14px;
                line-height: 30px;

                position: absolute;
                top: 50%;
                right: 17px;

                padding: 2px 8px;

                transform: translate(0,-50%);

                color: @white;
                border-radius: 5px;
                background: rgb(111,185,34);
            }
        }
    }
    .bindBtn
    {
        margin: 20px auto;
    }
    .tips
    {
        font-size: 1.4rem;
    }
}
