.chat-page {
  .container {
    height: 100%;
    //padding-bottom: 50px;
    overflow-y: auto;
  }
  .chat-content {
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
  }
  .friend-area {
    position: relative;
    margin-bottom: 10px;
    >a>img, >img {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 10px 0 0;
    }
    &.self {
      text-align: right;
      a>img {
        float: right;
        margin: 0 0 0 10px;
      }
      .msgContent {
        background-color: #b2e281;
        &:before {
          right: inherit;
          left: 100%;
          border-right-color: transparent;
          border-left-color: #b2e281;
        }
      }
    }
    //自定义消息
    .dapei-plan{
      display: inline-block;
      width: 185px;
      padding: 5px 13px;
      >img{
        max-width: 100%;
        max-height: 200px;
        margin: auto;
      }
      .dapei-plan-desc{
        color: #333333;
        font-size: 10px;
        font-weight: 500;
        padding-top: 20px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        .icon-flex{
          font-size: 10px;
        }
      }
    }
  }
  .content-box {
    position: relative;
    padding: 7px 0;
    display: inline;
    .spinner {
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      margin: 0;
      .container1 > div, .container2 > div, .container3 > div {
        width: 3px;
        height: 3px;
      }
    }
  }
  .msgContent {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    max-width: 80%;
    min-height: 30px;
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;
    .audio-area {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 30px;
      background: #fafafa;
      border-radius: 4px;
      .sound-icon {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translate(0, -50%);
      }
      >audio {
        height: 100%;
        width: 100%;
        visibility: hidden;
      }
      >time {
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate3d(0, -50%, 0);
        color: gray;
      }
    }
    >img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
      max-height: 200px;
    }
    &:before {
      content: " ";
      position: absolute;
      top: 9px;
      right: 100%;
      border: 6px solid transparent;
      border-right-color: #fafafa;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 5px 87px;
    background: #f5f5f7;
    z-index: 1;
    font-size: 0;
    textarea {
      width: 100%;
      -webkit-appearance: none;
      height: 100%;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      padding: 5px;
      resize: none;
      font-size: 14px;
      line-height: 16px;
      max-height: 300px;
      word-break: break-all;
      font-family: "PingFang SC", "Arial", 'Microsoft YaHei';
    }
    .send-btn {
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translate(0, -50%);
      width: 65px;
      font-size: 14px;
      line-height: 33px;
      border-radius: 3px;
      background: #000000;
      color: #f5f5f7;
      font-size: 17px;
      font-weight: 500;
    }
    .upload-img, .icon-emotion {
      font-size: 28px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    .upload-img {
      left: 13px;
      width: 28px;
      height: 28px;
      font-size: 0;
      .icon-img {
        font-size: 28px;
      }
      .img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
    .icon-emotion {
      left: 50px;
    }
    .emotions-area {
      position: absolute;
      top: -201px;
      left: 0;
      width: 100%;
      height: 200px;
      background: @white;
      display: flex;
      padding: 10px 5px;
      overflow-y: auto;
      flex-wrap: wrap;
      li {
        flex: 0 0 100/7%;
        text-align: center;
        >img {
          display: inline-block;
        }
      }
    }
  }
  .tips-area {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    .box {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translate(0, -50%);
      padding: 15px;
      text-align: center;
      color: @white;
      font-size: 20px;
      a {
        color: red;
      }
    }
  }
  .textarea-text{
    position: absolute;
    left: -1000px;
    top:-100px;
    z-index: 0;
    border: 1px solid #e6e6e6;
    min-height: 44px;
    font-size: 14px;
    word-break: break-all;
    padding: 5px;
    background: red;
    line-height: 16px;
    visibility: hidden;
  }
}