.customsuit-box {
    padding-bottom: 85px;
    //头部信息
    >.flex-box {
        padding: 26px 0 0 13px;
        .item {
            &:nth-of-type(1) {
                color: #1a1a1a;
                flex: 1 1 auto;
                width: 0;
                h2 {
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 46px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    font-size: 14px;
                    padding-top: 16px;
                }
            }
            &:nth-of-type(2) {
                flex: 0 0 125px;
                img {
                    width: 92px;
                    height: 92px;
                    border-radius: 50%;
                }
                .sex-area {
                    width: 84px;
                    background-color: #f3f4f6;
                    border-radius: 8px;
                    margin: 5px 0 0 5px;
                    .boy,
                    .girl {
                        display: inline-block;
                        width: 50%;
                        line-height: 19px;
                        position: relative;
                        text-align: center;
                        .icon {
                            position: relative;
                            top: 2px;
                        }
                    }
                    .boy {
                        border-radius: 0 8px 8px 0;
                        &.active {
                            background-color: #5ac6fc;
                        }
                    }
                    .girl {
                        border-radius: 8px 0 0 8px;
                        &.active {
                            background-color: #ff6064;
                        }
                    }
                }
            }
        }
    } //基础信息
    .baseinfo-area {
        display: flex;
        flex-direction: column;
        padding: 18px 0 25px;
        height: 100%;
        border-bottom: 8px solid #f3f4f6;
        .item {
            flex: auto;
        }
        .swiper-container {
            height: 45px;
            border: 1px solid #e4e4e4;
            border-width: 1px 0 1px 0;
            .swiper-slide {
                position: relative;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                color: #cccccc;
                font-family: Arial;
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0;
                    width: 1px;
                    height: 7px;
                    background: #d5d5d5;
                    transition: all ease 0.3s;
                }
            }
            .swiper-slide-prev,
            .swiper-slide-next {
                color: #999999;
                &:after {
                    background: #999999;
                }
            }
            .swiper-slide-active {
                font-size: 17px;
                color: #2ec2c7;
                line-height: 50px;
                &:after {
                    height: 12px;
                    background: #2ec2c7;
                }
            }
        }
        .title {
            font-size: 15px;
            color: #1a1a1a;
            text-align: left;
            padding-left: 13px;
            margin: 16px 0;
        }
    } //脸型、肤色和体型
    .body-area {
        padding: 25px 11.5px;
        border-bottom: 8px solid #f3f4f6;
        >h2 {
            padding-left: 1.5px;
            font-size: 15px;
            color: #1a1a1a;
        }
        .type-select-area {
            padding-top: 13px;
            li {
                width: 100/3%;
                height: 72px;
                display: inline-block;
                padding: 0 2.5px;
                .box {
                    position: relative;
                    border-radius: 4px;
                    padding-top: 12px;
                    text-align: center;
                    font-weight: 300;
                    font-size: 13px;
                    >img {
                        margin: 0 auto 2px;
                        width: 34px;
                        height: 34px;
                    }
                    .title {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            margin-top: -5px;
                            transform:translate(6px,0) rotate(-45deg);
                            width: 6px;
                            height: 6px;
                            border: 1px solid #666666;
                            border-width: 0 0 1px 1px;
                        }
                    }
                    .icon-sure {
                        visibility: hidden;
                        position: absolute;
                        top: 13px;
                        right: 10px;
                        font-size: 20px;
                    }
                    &.active {
                        .icon-sure {
                            visibility: visible;
                        }
                    }
                }
                &:nth-of-type(1) {
                    .box {
                        height: 100%;
                        background-color: #eaf9f6;
                    }
                }
                &:nth-of-type(2) {
                    .box {
                        height: 100%;
                        background-color: #fff1f0;
                    }
                }
                &:nth-of-type(3) {
                    .box {
                        height: 100%;
                        background-color: #fff8dc;
                        >img {
                            width: 31px;
                            height: 36px;
                        }
                    }
                }
            }
        }
        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: rgba(0, 0, 0, .3);
        }
        .face-select-area {
            .box {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 263px;
                height: 398px;
                background: #ffffff;
                >h3 {
                    background: #e6e6e6;
                    line-height: 28px;
                    font-size: 14px;
                    color: #333333;
                    text-align: center;
                }
                .close {
                    right: 3px;
                    top: 7px;
                    width: 25px;
                    height: 25px;
                }
                .img-list {
                    padding: 16px 37px;
                    li {
                        margin-bottom: 28px;
                        &:nth-of-type(even) {
                            padding-left: 26.5px;
                        }
                    }
                }
                .img-box {
                    position: relative;
                    width: 68px;
                    >img {
                        width: 68px;
                        height: 67px;
                    }
                    >p {
                        padding-top: 6px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        color: #1a1a1a;
                    }
                    .icon-sure {
                        visibility: hidden;
                        font-size: 20px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    >small {
                        display: block;
                        text-align: center;
                        font-size: 8px;
                        color: #333333;
                    }
                    &.active {
                        .icon-sure {
                            visibility: visible;
                        }
                    }
                }
                &.face-box {
                    height: 433px;
                    .img-box {
                        >img {
                            height: 81px;
                        }
                    }
                }
            }
        }
    } //希望搭配能解决什么
    .resolve-area {
        padding: 25px 0;
        border-bottom: 8px solid #f3f4f6;
        >h2 {
            padding-left: 13px;
            font-size: 15px;
            color: #1a1a1a;
        }
        ul {
            padding: 8px 34px 0;
            li {
                margin-top: 22px;
                &:nth-of-type(3n+1){text-align: left;}
                &:nth-of-type(3n+2){text-align: center;}
                &:nth-of-type(3n+3){text-align: right;}
            }
        }
        .cicle-area {
            position: relative;
            width: 81px;
            height: 81px;
            border-radius: 50%;
            display: inline-block;
            >img {
                width: 81px;
                height: 81px;
                border-radius: 50%;
            }
            >label {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                line-height: 81px;
                text-align: center;
                font-weight: 600;
                font-size: 15px;
                color: #ffffff;
                background: rgba(0, 0, 0, .5);
            }
            .icon-sure {
                visibility: hidden;
                position: absolute;
                top: 6px;
                right: 2px;
                font-size: 20px;
            }
            &.active {
                .icon-sure {
                    visibility: visible;
                }
            }
        }
    } //风格
    .style-area {
        padding: 25px 13px;
        border-bottom: 8px solid #f3f4f6;
        >h2 {
            font-size: 15px;
            color: #1a1a1a;
        }
        ul {
            padding-top: 5px;
            li {
                margin-top: 15px;
                &:nth-of-type(odd){padding-right: 5px;text-align: right;}
                &:nth-of-type(even){padding-left: 5px;text-align: left;}
            }
        }
        .style-box {
            position: relative;
            width: 169px;
            height: 109px;
            display: inline-block;
            border-radius: 5px;
            >img {
                width: 169px;
                height: 109px;
                border-radius: 5px;
            }
            .bg {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background: rgba(0, 0, 0, .5);
            }
            .triangle {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-bottom: 66px solid #ffffff;
                border-left: 90px solid transparent;
            }
            label {
                position: absolute;
                right: 0;
                bottom: 5px;
                font-size: 12px;
                color: #333333;
            }
            .icon-sure {
                visibility: hidden;
                position: absolute;
                top: 7px;
                right: 7px;
                font-size: 20px;
            }
            &.active {
                .bg {
                    visibility: visible;
                }
                .icon-sure {
                    visibility: visible;
                }
            }
        }
    } //其他信息
    .otherInfo-area {
        padding: 0 13px 25px;
        border-bottom: 8px solid #f3f4f6;
        >label {
            font-size: 15px;
            color: #1a1a1a;
            display: block;
            margin: 25px 0 15px;
        }
        >input,
        .birthDate {
            display: block;
            -webkit-appearance: none;
            background: #f3f4f6;
            font-size: 12px;
            color: #666666;
            border-width: 0;
            width: 100%;
            height: 30px;
            text-indent: 12px;
        }
        .birthDate {
            line-height: 30px;
        }
    } //生活照
    .lifePhoto-area {
        padding: 25px 13px;
        >h2 {
            font-size: 15px;
            color: #1a1a1a;
            margin-bottom: 15px;
        }
        .upload-control-area {
            li {
                &:nth-of-type(1) {
                    padding-right: 5px;
                }
                &:nth-of-type(2) {
                    padding-left: 5px;
                }
            }
        }
        .upload-area {
            position: relative;
            border: 1px dashed #cccccc;
            height: 170px;
            text-align: center;
            padding-top: 45px;
            .icon-camera {
                font-size: 35px;
            }
            >p {
                font-size: 15px;
                color: #666666;
                margin-top: 25px;
            }
            .img-show,
            .upload-file {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            .img-show {
                z-index: 8;
                background-repeat: no-repeat;
                background-size: cover;
                .icon-fault {
                    display: none;
                    font-size: 15px;
                    position: absolute;
                    top:-8px;
                    right: -8px;
                }
                &.active{
                    .icon-fault {
                        display: block;
                    }
                }
            }
            .upload-file {
                z-index: 9;
                opacity: 0;
            }
        }
        .img-show-area {
            margin-top: 15px;
            li {
                margin-bottom: 15px;
                &:nth-of-type(3n+1) {
                    padding-right: 20/3px;
                }
                &:nth-of-type(3n+2) {
                    padding: 0 20/3/2px;
                }
                &:nth-of-type(3n+3) {
                    padding-left: 20/3px;
                }
            }
        }
        .img-area {
            position: relative;
            height: 155px;
            background-size: cover;
            background-repeat: no-repeat;
            .icon-fault {
                position: absolute;
                right: -8px;
                top: -8px;
                font-size: 16px;
            }
        }
    }
    .send-btn {
        background: #000000;
        font-size: 17px;
        color: #ffffff;
        width: 173px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        margin: 15px auto 0;
    }
}

@media screen and (max-width: 374px) {
    .customsuit-box {
        //风格
        .style-area {
            ul {
                li {
                    padding: 0 5px;
                }
            }
            .style-box {
                width: 137px;
                height: 88px;
                margin: auto;
                >img {
                    width: 137px;
                    height: 88px;
                }
            }
        }
    }
}