.dps-list-page {
   
    padding-bottom: 50px;
    border-top: 10px solid #ebebeb;
    .title {
        font-size: 13px;
        line-height: 30px;
        color: #999999;
        padding-left: 13px;
        border-bottom: 0.5px solid #ebebeb;
    }
    .list-area {
        >ul>li{
            border-bottom: 8px solid #ebebeb;
        }
    }
    .dps-info {
        padding: 13px;
        position: relative;
        img {
            display: inline-block;
            vertical-align: middle;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            margin-right: 12px;
        }
        .nickname {
            font-size: 12px;
            color: #333333;
            font-weight: 500;
        }
        .btn-area {
            position: absolute;
            top: 50%;
            right: 13px;
            transform: translate(0, -50%);
            .btn {
                display: inline-block;
                width: 55px;
                line-height: 22px;
                border-radius: 3px;
            }
            .question-btn {
                font-size: 13px;
                background: #000000;
                color: #ffffff;
            }
            .watch-btn {
                margin-left: 10px;
                font-size: 12px;
                background: #ffffff;
                color: #333333;
                border: 1px solid #333333;
            }
        }
    }
    .main-img-area {
        position: relative;
        height: 158px;
        background-size: cover;
        .describe {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 13px 30px;
            font-size: 13px;
            line-height: 20px;
            color: @white;
            background: rgba(0, 0, 0, .3);
        }
        @media screen and (min-width:414px) {
            height: 200px;
        }
    }
    .small-img-area {
        padding: 5px 13px 12px;
        >li {
            height: 122px;
            &:nth-of-type(1) {
                padding-right: 10/3px;
            }
            &:nth-of-type(2) {
                padding:0 10/3/2px;
            }
            &:nth-of-type(3) {
                padding-left: 10/3px;
            }
            .small-img{
                height: 100%;
                background-size: cover;
            }
        }
    }
}