.fashionMomentDetailArea {
    padding-bottom: 100px;
    //搭配师信息
    header {
        position: relative;
        display: flex;
        padding: 15px 0;
        border-bottom: 0.5px solid #e6e6e6;
        align-items: center;
        margin: 0 13px;
        .item {
            flex: auto;
            position: relative;
            &:nth-of-type(1) {
                flex: 0 0 40px;
            }
            &:nth-of-type(2) {
                flex: auto;
                padding-left: 10px;
                overflow: hidden;
            }
            &:nth-of-type(3) {
                flex: 0 0 120px;
                >.btn {
                    display: inline-block;
                    line-height: 22px;
                    width: 55px;
                    text-align: center;
                    border-radius: 3px;
                }
                .question-btn {
                    font-size: 13px;
                    margin-right: 10px;
                }
                .watch-btn {
                    font-size: 12px;
                    background: @white;
                    border: 1px solid #333333;
                    color: #333333;
                    &.active {
                        border-color: transparent;
                        color: @white;
                        background: #cccccc;
                    }
                }
            }
            .icon {
                position: absolute;
                bottom: -3px;
                right: -3px;
                width: 15px;
                height: 15px;
                line-height: 10px;
                color: @white;
                font-size: 12px;
                text-align: center;
                font-style: normal;
                border-radius: 50%;
                padding: 2px;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .nickname {
                font-size: 12px;
                font-weight: 500;
                padding-right: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #666666;
            }
            >time {
                font-size: 14px;
                display: inline-block;
                padding-top: 8px;
            }
        }
    } //方案内容
    .content {
        border-bottom: 0.5px solid #ededed;
        padding-bottom: 43px;
        overflow: hidden;
        >h1 {
            font-size: 17px;
            font-weight: bold;
            margin: 20px 0;
            color: #333333;
            padding: 0 13px;
        }
        time {
            display: inline-block;
            margin-bottom: 20px;
            color: #999999;
            font-size: 10px;
            padding: 0 13px;
        }
        .dp-img {
            max-width: 100%;
            max-height: 100%;
            margin: 10px auto 0;
        }
        .text {
            font-size: 13px;
            line-height: 19px;
            word-break: break-all;
            color: #1a1a1a;
            padding: 0 13px;
            img {
                display: block;
                max-width: 100%;
                margin: 5px auto;
                width: auto;
                height: auto;
            }
        }
    } //打赏
    .reward-area {
        padding: 30px 0 13px;
        p {
            font-size: 11px;
            color: #666666;
            padding-bottom: 13px;
        }
        .btn {
            margin: auto;
            padding: 8px 18px;
            border-radius: 2px;
            background: #ff0000;
        }
        .reward-num {
            padding-top: 10px;
        }
        .reward-person {
            text-align: center;
            width: 195px;
            max-height: 75px;
            overflow: hidden;
            margin: auto;
            font-size: 0;
            >img {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-bottom: 5px;
                &:nth-child(8n) {
                    margin-right: 0;
                }
            }
        }
    }
    //关注搭配师
    .watch-dps-area {
        margin: 13px 13px 30px 13px;
        border: 0.5px solid #e6e6e6;
        padding: 0 10px;
        .watch-title {
            font-size: 13px;
            line-height: 35px;
            color: #666666;
            font-weight: 500;
            border-bottom: 0.5px solid #ededed;
        }
        ul {
            >li {
                &:nth-of-type(1) {
                    flex: 0 0 40px;
                    padding: 10px 0 15px;
                    font-size: 0;
                    img {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                &:nth-of-type(2) {
                    flex: auto;
                    width: 0;
                    padding: 0 25px 0 8px;
                    .dps-nickname {
                        margin-top: 12px;
                        font-size: 14px;
                        color: #333333;
                        font-weight: 500;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .introduce {
                        margin-top: 2px;
                        font-size: 12px;
                        color: #666666;
                        font-weight: 500;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                &:nth-of-type(3) {
                    flex: 0 0 55px;
                    padding-top: 20px;
                    .btn {
                        line-height: 22px;
                        width: 100%;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 3px;
                        &.active {
                            background: #cccccc;
                        }
                    }
                }
            }
        }
    }
    //评论
    .comment-area {
        .user-comment {
            display: flex;
            .item {
                flex: auto;
                &:first-child {
                    padding-right: 10px;
                    textarea {
                        padding: 5px;
                        width: 100%;
                        height: 45px;
                        max-height: 150px;
                        -webkit-appearance: none;
                        border: 1px solid rgb(238, 238, 238);
                        font-size: 14px;
                    }
                }
                &:last-child {
                    flex: 0 0 60px;
                    button {
                        width: 70px;
                        line-height: 43px;
                    }
                }
            }
        }
        .comment-num {
            font-size: 13px;
            line-height: 37px;
            color: #333333;
            background: #f5f5f5;
            padding-left: 13px;
        }
        .comment-list {
            padding: 0 0 0 13px;
            li {
                position: relative;
                padding: 10px 0;
                border-bottom: 0.5px solid #e5e5e5;
                &:last-child {
                    border-width: 0;
                }
                .box {
                    display: flex;
                }
                .item {
                    flex: auto;
                    position: relative;
                    &:first-child {
                        flex: 0 0 40px;
                        height: 40px;
                    }
                    &:last-child {
                        padding-left: 10px;
                        overflow: hidden;
                    }
                    .icon {
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 15px;
                        height: 15px;
                        line-height: 10px;
                        color: @white;
                        font-size: 12px;
                        text-align: center;
                        font-style: normal;
                        border-radius: 50%;
                        padding: 2px;
                    }
                    >img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    .nickname {
                        font-size: 12px;
                        font-weight: 500;
                        color: #333333;
                        padding-right: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    >time {
                        font-size: 10px;
                        display: inline-block;
                        padding-top: 2px;
                        color: #999999;
                    }
                    .comment-content {
                        padding: 8px 0 12px;
                        font-size: 13px;
                        font-weight: 500;
                        word-break: break-all;
                        color: #333333;
                    }
                }
            }
        }
    } //作者回复
    .dps-reply-box {
        border-top: 0.5px dashed #e9e9e9;
        margin-right: 13px;
        padding-left: 50px;
        .reply-area {
            .comment-content {
                margin: 13px 0;
                font-size: 13px;
                font-weight: 500;
                word-break: break-all;
                color: #333333;
                >span {
                    color: #666666;
                }
            }
        }
    }
    //用户评论
    .user-to-comment-area {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        .bg {
            background: rgba(0, 0, 0, .5);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
        }
        .box {
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            padding: 16px 13px 45px 13px;
            background: @white;
            min-height: 136px;
            font-size: 0;
            textarea {
                min-height: 73px;
                width: 100%;
                padding: 5px;
                border-radius: 2px;
                appearance: none;
                border: 0.5px solid #e6e6e6;
                font-size: 13px;
                max-height: 300px;
            }
            .btn {
                position: absolute;
                right: 13px;
                bottom: 10px;
                width: 63px;
                line-height: 25px;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    //底部内容
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        min-height: 50px;
        background: @white;
        text-align: center;
        border-top: 0.5px solid #e6e6e6;
        .to-write {
            text-align: left;
            background: #f0f0f0;
            margin: 15px 13px 13px;
            border-radius: 3px;
            border: 0.5px solid #e5e5e5;
            line-height: 30px;
            padding-left: 6px;
        }
        .icon {
            font-size: 17px;
            vertical-align: -2px;
            margin-right: 8px;
        }
        .num {
            color: #999999;
            font-size: 14px;
            font-weight: 500;
        }
        ul {
            margin-bottom: 13px;
        }
    }
}