@font-face {
  font-family: 'icomoon';
  src:
    url('/assets/fonts/icomoon.ttf?b79eov') format('truetype'),
    url('/assets/fonts/icomoon.woff?b79eov') format('woff'),
    url('/assets/fonts/icomoon.svg?b79eov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e93f";
  color: #bfbfbf;
}
.icon-close:before {
  content: "\e940";
}
.icon-close-gray:before {
  content: "\e941";
  color: #fff;
}
.icon-comment:before {
  content: "\e942";
  color: #ccc;
}
.icon-fault .path1:before {
  content: "\e943";
  color: rgb(0, 0, 0);
}
.icon-fault .path2:before {
  content: "\e944";
  margin-left: -1.0009765625em;
  color: rgb(255, 255, 255);
}
.icon-girl .path1:before {
  content: "\e945";
  color: rgb(255, 255, 255);
}
.icon-girl .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(241, 158, 194);
}
.icon-girl .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(241, 158, 194);
}
.icon-girl-active .path1:before {
  content: "\e948";
  color: rgb(255, 96, 100);
}
.icon-girl-active .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-girl-active .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gou:before {
  content: "\e94b";
  color: #fff;
}
.icon-gou22 .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}
.icon-gou22 .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart:before {
  content: "\e94e";
  color: #fff;
}
.icon-heart-icon:before {
  content: "\e94f";
  color: #ccc;
}
.icon-heart-selected:before {
  content: "\e950";
  color: #ff6064;
}
.icon-lock:before {
  content: "\e951";
  color: #666;
}
.icon-man .path1:before {
  content: "\e952";
  color: rgb(75, 183, 234);
}
.icon-man .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(75, 183, 234);
}
.icon-man .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-man-active .path1:before {
  content: "\e955";
  color: rgb(255, 255, 255);
}
.icon-man-active .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-man-active .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(90, 198, 252);
}
.icon-money:before {
  content: "\e958";
  color: #fff;
}
.icon-money-icon:before {
  content: "\e959";
  color: #ccc;
}
.icon-person-info:before {
  content: "\e95a";
}
.icon-photo-wall:before {
  content: "\e95b";
}
.icon-star-normal:before {
  content: "\e95c";
  color: #e6e6e6;
}
.icon-star-selected:before {
  content: "\e95d";
  color: #f00;
}
.icon-sure .path1:before {
  content: "\e95e";
  color: rgb(14, 224, 230);
}
.icon-sure .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tel:before {
  content: "\e96f";
  color: #666;
}
.icon-da .path1:before {
  content: "\e961";
  color: rgb(26, 26, 26);
}
.icon-da .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-da .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-da .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-da .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dps-normal:before {
  content: "\e966";
  color: #666;
}
.icon-dps-selected:before {
  content: "\e967";
  color: #fff;
}
.icon-find-normal:before {
  content: "\e968";
  color: #666;
}
.icon-find-selected:before {
  content: "\e969";
  color: #fff;
}
.icon-home-normal:before {
  content: "\e96a";
  color: #666;
}
.icon-home-selected:before {
  content: "\e96b";
  color: #fff;
}
.icon-my-normal:before {
  content: "\e96c";
  color: #666;
}
.icon-my-selected:before {
  content: "\e96d";
  color: #fff;
}
.icon-boy-coat-normal:before {
  content: "\e908";
}
.icon-boy-coat-selected .path1:before {
  content: "\e909";
  color: rgb(26, 26, 26);
}
.icon-boy-coat-selected .path2:before {
  content: "\e90a";
  margin-left: -0.73828125em;
  color: rgb(255, 255, 255);
}
.icon-boy-coat-selected .path3:before {
  content: "\e90b";
  margin-left: -0.73828125em;
  color: rgb(255, 255, 255);
}
.icon-boy-coat-selected .path4:before {
  content: "\e90c";
  margin-left: -0.73828125em;
  color: rgb(255, 255, 255);
}
.icon-boy-coat-selected .path5:before {
  content: "\e90d";
  margin-left: -0.73828125em;
  color: rgb(255, 255, 255);
}
.icon-boy-coat-selected .path6:before {
  content: "\e90e";
  margin-left: -0.73828125em;
  color: rgb(252, 252, 252);
}
.icon-boy-coat-selected .path7:before {
  content: "\e90f";
  margin-left: -0.73828125em;
  color: rgb(255, 255, 255);
}
.icon-boy-hat-normal:before {
  content: "\e910";
}
.icon-boy-hat-selected:before {
  content: "\e911";
}
.icon-boy-jacket-normal:before {
  content: "\e912";
}
.icon-boy-jacket-selected:before {
  content: "\e913";
}
.icon-boy-ornaments-normal:before {
  content: "\e914";
}
.icon-boy-ornaments-selected .path1:before {
  content: "\e915";
  color: rgb(26, 26, 26);
}
.icon-boy-ornaments-selected .path2:before {
  content: "\e916";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-boy-ornaments-selected .path3:before {
  content: "\e917";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-boy-ornaments-selected .path4:before {
  content: "\e918";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-boy-ornaments-selected .path5:before {
  content: "\e919";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-boy-ornaments-selected .path6:before {
  content: "\e91a";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-boy-shoes-normal:before {
  content: "\e91b";
}
.icon-boy-shoes-selected:before {
  content: "\e91c";
}
.icon-boy-shorts-normal:before {
  content: "\e91d";
}
.icon-boy-shorts-selected:before {
  content: "\e91e";
}
.icon-boy-trousers-normal:before {
  content: "\e91f";
}
.icon-boy-trousers-selected:before {
  content: "\e920";
}
.icon-girl-bag-normal:before {
  content: "\e921";
}
.icon-girl-bag-selected:before {
  content: "\e922";
}
.icon-girl-beauty-normal:before {
  content: "\e923";
}
.icon-girl-beauty-selected:before {
  content: "\e924";
}
.icon-girl-coat-normal:before {
  content: "\e925";
}
.icon-girl-coat-selected:before {
  content: "\e926";
}
.icon-girl-dress-normal:before {
  content: "\e927";
}
.icon-girl-dress-selected:before {
  content: "\e928";
}
.icon-girl-ornaments-normal:before {
  content: "\e929";
}
.icon-girl-ornaments-selected .path1:before {
  content: "\e92a";
  color: rgb(26, 26, 26);
}
.icon-girl-ornaments-selected .path2:before {
  content: "\e92b";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-girl-ornaments-selected .path3:before {
  content: "\e92c";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-girl-ornaments-selected .path4:before {
  content: "\e92d";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-girl-ornaments-selected .path5:before {
  content: "\e92e";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-girl-ornaments-selected .path6:before {
  content: "\e92f";
  margin-left: -0.701171875em;
  color: rgb(255, 255, 255);
}
.icon-girl-shoes-normal:before {
  content: "\e930";
}
.icon-girl-shoes-selected:before {
  content: "\e931";
}
.icon-girl-trousers-normal:before {
  content: "\e932";
}
.icon-girl-trousers-selected:before {
  content: "\e933";
}
.icon-girl-underweaer-normal:before {
  content: "\e934";
}
.icon-girl-underweaer-selected:before {
  content: "\e935";
}
.icon-gou2 .path1:before {
  content: "\e95f";
  color: rgb(0, 0, 0);
}
.icon-gou2 .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pasted:before {
  content: "\e900";
  color: #fff;
}
.icon-used:before {
  content: "\e901";
  color: #fff;
}
.icon-all-server-use-font:before {
  content: "\e902";
  color: #fff;
}
.icon-money-overdue:before {
  content: "\e903";
  color: #f56d6d;
}
.icon-money-overdue-gray:before {
  content: "\e904";
  color: #b1b1b1;
}
.icon-money-white:before {
  content: "\e905";
  color: #fff;
}
.icon-promotion-font:before {
  content: "\e906";
  color: #fff;
}
.icon-use-font:before {
  content: "\e907";
  color: #4c4c4c;
}
.icon-finish:before {
  content: "\e936";
}
.icon-my-info:before {
  content: "\e937";
  color: #fe7878;
}
.icon-my-promotion:before {
  content: "\e938";
  color: #feaf40;
}
.icon-my-watch:before {
  content: "\e939";
  color: #2db1fe;
}
.icon-my-wordrobe:before {
  content: "\e93a";
  color: #3be0bf;
}
.icon-publish:before {
  content: "\e93b";
}
.icon-serving:before {
  content: "\e93c";
}
.icon-wait-comment:before {
  content: "\e93d";
}
.icon-wait-pay:before {
  content: "\e93e";
}
