//箭头
.borrow {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 15px solid #ffffff;
}

//打勾
.cicle() {
    width: 15px;
    height: 15px;
    background: #01b5bb;
    border-radius: 50%;
}

.yes() {
    width: 8px;
    height: 4px;
    border: 1px solid @white;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
}

//上传图片+号小图标
.icon-add {
    position: relative;
    border: 5px dashed rgb(204, 204, 204);
    min-width: 50px;
    min-height: 50px;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -2px;
        width: 30px;
        height: 4px;
        background: rgb(204, 204, 204);
        border-radius: 5px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -2px;
        width: 4px;
        height: 30px;
        background: rgb(204, 204, 204);
        border-radius: 5px;
    }
}

//关闭
.close {
    position: absolute;
    transform: rotate(45deg);
    &::after,
    &::before {
        content: '';
        position: absolute;
        background: #696969;
    }
    &::after {
        width: 18px;
        height: 1px;
        left: 0;
        top: 8px;
    }
    &::before {
        width: 1px;
        height: 18px;
        left: 8px;
        top: 0;
    }
}

//----------------------------start
@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.ttf?pvqzo7') format('truetype'), url('/assets/fonts/icomoon.woff?pvqzo7') format('woff'), url('/assets/fonts/icomoon.svg?pvqzo7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fault .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
}

.icon-fault .path2:before {
    content: "\e901";
    margin-left: -1.0009765625em;
    color: rgb(255, 255, 255);
}

.icon-sure .path1:before {
    content: "\e902";
    color: rgb(14, 224, 230);
}

.icon-sure .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-man .path1:before {
    content: "\e904";
    color: rgb(75, 183, 234);
}

.icon-man .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(75, 183, 234);
}

.icon-man .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-girl .path1:before {
    content: "\e907";
    color: rgb(255, 255, 255);
}

.icon-girl .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(241, 158, 194);
}

.icon-girl .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(241, 158, 194);
}

.icon-camera:before {
    content: "\e90a";
    color: #bfbfbf;
}

//-----------------------------end