//我的优惠码
@import './myPromotionCode';
//可用的优惠码
@import './usefulPromotion';
.full-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: @bg;
  overflow-y: auto;
  margin: auto;
  -webkit-overflow-scrolling: touch;
}

//icon删除
.icon-svg-delete, .icon-svg-close {
  width: 20px;
  height: 20px;
}

//图片
.icon-svg-img {
  width: 30px;
  height: 30px;
}

//加号
.icon-svg-add {
  width: 40px;
  height: 40px;
}

//表情
.icon-svg-face {
  width: 20px;
  height: 20px;
}

//铃铛
.icon-svg-bell {
  width: 50px;
  height: 50px;
}

//点赞，打赏
.icon-svg-zan, .icon-svg-reward {
  width: 15px;
  height: 15px;
}

.icon-svg-zan {
  fill: gray;
  &.active {
    fill: #cc5858;
  }
}

//评论
.icon-svg-comment {
  width: 20px;
  height: 20px;
}

//红包
.icon-svg-redBag {
  width: 30px;
  height: 30px;
}

// 问号
.icon-svg-question {
  width: 15px;
  height: 15px;
}

//优惠码状态、分享按钮
.icon-svg-promotion-code {
  width: 50px;
  height: 50px;
}

//分享按钮
.icon-svg-share-btn {
  width: 40px;
  height: 40px;
}

.icon-svg-share-tips {
  width: 250px;
  height: 250px;
}

//微信logo
.icon-svg-weixin {
  width: 20px;
  height: 20px;
  fill: rgb(214, 214, 214);
}

//loading start
.data-load {
  .msg {
    line-height: 70px;
    text-align: center;
    font-size: 14px;
  }
}

.data-load-true {
  margin: 20px auto 20px auto;
  position: relative;
  animation: rotate-forever 1s infinite linear;
  height: 30px;
  width: 30px;
  border: 4px solid #80bd01;
  border-right-color: transparent;
  border-radius: 50%;
  .msg {
    display: none;
  }
}

// 过渡 end
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

//loading end
//button
.btn {
  display: block;
  -webkit-appearance: none;
  background: #1a1a1a;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.7rem;
  border-width: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-record {
  padding: 15px;
  font-size: 14px;
}

// 左滑动start
.move-enter {
  transform: translate3d(100%, 0, 0);
  &.move-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 500ms ease-in;
  }
}

.move-leave {
  transform: translate3d(0, 0, 0);
  &.move-leave-active {
    transform: translate3d(100%, 0, 0);
    transition: all 300ms ease-in;
  }
}

// 左滑动 end
// 淡入淡出 start
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.pd15 {
  padding: 15px;
}

//flex layout start
.flex-box {
  display: flex;
  flex-wrap: wrap;
  >.item-2 {
    flex: 0 0 50%;
  }
  >.item-3 {
    flex: 0 0 100/3%;
  }
  >.item-4 {
    flex: 0 0 100/4%;
  }
  >.item-5 {
    flex: 0 0 100/5%;
  }
}

//flex layout end

/* 新消息通知 start */

.new-info-area {
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 9;
  width: 12px;
  height: 12px;
  font-size: 0;
}

.new-info-area .cicle {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ff0000;
}


/* 新消息通知 end */

// 底部tab start
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #1a1a1a;
  z-index: 999;
  li {
    float: left;
    width: 20%;
    height: 100%;
    color: @white;
    text-align: center;
    font-size: 0;
    a {
      display: block;
      height: 100%;
      .icon {
        display: inline-block;
        margin: 7px 0 4px;
      }
      span[class*="icon-home"], span[class*="icon-info"], span[class*="icon-find"], span[class*="icon-my"] {
        font-size: 22px;
        position: relative;
      }
      &.active {
        p {
          color: @white;
        }
      }
    }
    .da-img {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 55px;
      height: 55px;
      margin: 0;
    }
    p {
      color: #666666;
      font-size: 10px;
    }
  }
}

//底部tab end
//按钮发光 start
.btn-clicked {
  position: relative;
}

.btn-clicked:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  border: 0 solid #f0f0f0;
  border-color: inherit;
  opacity: .4;
  // transition: all 0.4s;
  animation: buttonEffect 0.4s;
}

@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px
  }
}

//按钮发光 end
//顶部导航 start
.home-head-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  line-height: 30px;
  background: #201f25;
  a {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    color: #fffefe;
    font-weight: bolder;
    span {
      display: inline-block;
      line-height: 30px;
      position: relative;
      &::after {
        content: '';
        visibility: hidden;
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: @white;
      }
    }
    &.active {
      span {
        &::after {
          visibility: visible;
        }
      }
    }
  }
}

//顶部导航 end
//搭配服务入口start
.match-server-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .bg {
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
  .box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: @white;
    li {
      position: relative;
    }
    .entry {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      transform: translate(-50%, -50%);
      img {
        width: 65px;
        height: 65px;
        margin-bottom: 22px;
      }
      >span {
        font-size: 13px;
        color: #333333;
        font-weight: 500;
      }
    }
  }
}

//搭配服务入口end