.myDps-area{
  margin-top:0.5rem;
  li{
    background: @white;border: 0.1rem solid #f0f0f0;
    >a{display:flex;}
    &:last-child{border-width: 0;}
    .img{
      flex: 0 0 8rem;padding: 1rem;text-align: center;position: relative;
      .head-img{border-radius:50%;display: inline-block;}
      .no-read-num{position: absolute;right: 1rem;top: 1rem;width: 1.5rem;height: 1.5rem;line-height:1.5rem;border-radius: 50%;background: red;color: @white;font-size: 1.2rem;}
    }
    .introduce{
      flex:1 1 auto;padding: 1rem 0;overflow: hidden;
      .name{font-size: 1.5rem;color: #333333;padding-right: 0.7rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
      .msgText{
        color: #333333;padding-top: 10px;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; font-size: 12px;
        >img{display: inline-block;vertical-align: middle;}
      }
    }
  }
}