.order-list-page {
  padding-top: 3.8rem;
}

.order-list-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: @white;
  color: #666666;
  font-size: 12px;
  text-align: center;
  .swiper-slide {
    >span {
      line-height: 37px;
      display: inline-block;
    }
    &.active {
      >span {
        border-bottom: 2px solid #ff6064;
        color: #ff6064;
      }
    }
  }
}

.order-list-area {
  >li {
    position: relative;
    background: @white;
    min-height: 40px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    margin-top: 9px;
    .status {
      padding-left: 12px;
      font-size: 13px;
      color: #ff6064;
      font-weight: 500;
      background: #fffbfb;
      line-height: 30px;
      border-bottom: 1px solid #e6e6e6;
    }
    .service-type {
      font-size: 13px;
      color: #333333;
      font-weight: 500;
      padding-left: 12px;
      line-height: 35px;
    }
    .content-area {
      margin: 0 12px;
      border-top: 1px solid #e6e6e6;
      padding: 12px 0;
      .flex-box {
        li {
          &:nth-of-type(1) {
            flex: 0 0 55px;
          }
          &:nth-of-type(2) {
            flex: 1 0 auto;
            width: 0;
            padding-left: 25px;
            >h4 {
              margin-left: -3px;
              font-size: 12px;
              color: #333333;
              font-weight: 500;
              padding-bottom: 9px;
            }
          }
        }
      }
      .remark {
        font-size: 12px;
        color: #666666;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
      }
    }
    .price {
      position: relative;
      height: 45px;
      border: 1px solid #e6e6e6;
      border-width: 1px 0;
      >span {
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        font-size: 18px;
        color: #ff6064;
        font-weight: 500;
        em {
          vertical-align: middle;
          font-style: normal;
          font-size: 12px;
          color: #666666;
          margin-right: 2px;
        }
      }
    }
    .link {
      width: 100%;
      display: block;
    }
    .head-img-area {
      border: 2px solid #e6e6e6;
      padding: 3px;
      >img {
        width: 49px;
        height: 49px;
        border: 1px solid #e6e6e6;
      }
    }
    .action-area {
      padding: 10px 23px;
      text-align: right;
      .btn {
        font-size: 13px;
        display: inline-block;
        background: #ff6064;
        width: auto;
        height: auto;
        line-height: normal;
        margin-right: 10px;
        color: #fffefe;
        border-radius: 3px;
        padding: 5px 18px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &:last-child {
      border-bottom-width: 0;
    }
  }
}