.order-detail-box {
  padding-bottom: 65px;
  background: @bg;
  .order-timer-area {
    background: #ff5778;
    padding: 15px 0 15px 30px;
    color: @white;
    strong {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
  .time-area {
    position: relative;
    background: @white;
    font-size: 11px;
    color: #999999;
    padding: 6px 13px;
    >p {
      line-height: 22px;
      >span {
        margin-left: 2px;
      }
    }
    .status {
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      font-size: 17px;
      color: #1a1a1a;
    }
  }
  .title {
    font-size: 11px;
    color: #1a1a1a;
    font-weight: 500;
    line-height: 31px;
    padding-left: 13px;
  }
  .typeName {
    position: relative;
    font-size: 14px;
    line-height: 42px;
    color: #1a1a1a;
    padding-left: 12px;
    background: @white;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 20px;
      background: #1a1a1a;
      border-radius: 2px;
    }
  }
  .dps-area {
    background: @white;
    padding: 15px 13px;
    li {
      &:nth-of-type(1) {
        flex: 0 0 62px;
      }
      &:nth-of-type(2) {
        width: 0;
        flex: 1 0 auto;
        padding-left: 15px;
      }
    }
    .dps-header {
      padding: 3px;
      border: 1px solid #e6e6e6;
      width: 62px;
      height: 62px;
      >img {
        width: 100%;
        height: 100%;
        border: 1px solid #e5e5e5;
      }
    }
    .nickname {
      margin-left: -7px;
      font-size: 14px;
      color: #333333;
      font-weight: 500;
      display: block;
      margin-bottom: 6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    time {
      display: block;
      color: #333333;
      font-size: 11px;
      line-height: 19px;
    }
  }
  .plain-info {
    background: @white;
    border-bottom: 0.5px solid #ededed;
    padding: 13px;
    color: #333333;
    font-size: 12px;
    line-height: 20px;
    li {
      padding-right: 5px;
      width: 0;
      >p {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .form-content {
    background: @white;
    padding: 9px 13px;
    .text {
      font-size: 13px;
      color: #333333;
      line-height: 24px;
      >span {
        position: relative;
        font-size: 12px;
        padding: 0 7px;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 10px;
          background: #cccccc;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .skin-body {
    background: @white;
    padding: 15px 13px;
    .skin-body-box {
      display: inline-block;
      margin-right: 50px;
      >p {
        margin-top: 10px;
        font-size: 12px;
        color: #333333;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  .private-photo {
    background: @white;
    padding: 15px 13px;
    >li {
      &:nth-of-type(1) {
        padding-right: 7.5px;
      }
      &:nth-of-type(2) {
        padding-left: 7.5px;
      }
      .box {
        height: 167px;
        background-size: cover;
      }
    }
  }
  .styles-area {
    background: @white;
    padding: 10px;
    >li {
      position: relative;
      font-size: 12px;
      color: #333333;
      font-weight: 500;
      padding-left: 14px;
      line-height: 23px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: #999999;
      }
    }
  }
  .remark {
    background: @white;
    padding: 13px;
    font-size: 12px;
    color: #333333;
  }
  .photo-area {
    padding: 10px 13px 15px;
    background: @white;
    .item-3 {
      margin-top: 5px;
      &:nth-of-type(3n+1) {
        padding-right: 5px;
      }
      &:nth-of-type(3n+2) {
        padding: 0 2.5px;
      }
      &:nth-of-type(3n+3) {
        padding-left: 5px;
      }
      .img-show {
        height: 110px;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #e6e6e6;
      }
    }
  }
  .order-item {
    background: @white;
    padding: 15px 13px;
    >li {
      font-size: 11px;
      color: #666666;
      font-weight: 500;
      position: relative;
      padding-left: 8px;
      margin-bottom: 8px;
      .total {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: #1a1a1a;
        font-weight: 500;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #666666;
      }
      .name {
        display: inline-block;
        width: 90px;
      }
      .single-price {
        display: inline-block;
        width: 67px;
      }
    }
  }
  .order-total-price {
    position: relative;
    margin-top: 9px;
    font-size: 13px;
    color: #1a1a1a;
    line-height: 35px;
    font-weight: 500;
    background: @white;
    padding: 0 13px;
    .price {
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 13px;
      text-align: right;
      >span {
        font-size: 12px;
        color: #ff0000;
      }
      >del {
        color: #666666;
        font-size: 10px;
      }
    }
  }
  .score-area {
    padding: 15px 13px;
    background: @white;
    .score {
      .icon {
        margin-right: 10px;
        font-size: 16px;
      }
    }
    .user-comment-content {
      font-size: 12px;
      color: #666666;
      padding: 11px 0 14px;
    }
  }
  .dps-reply {
    position: relative;
    background: #f7f7f7;
    padding: 9px;
    font-size: 12px;
    color: #666666;
    .content {
      margin-top: 6px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 30px;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-bottom: 10px solid #f7f7f7;
    }
  }
  .cancle-order {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    line-height: 35px;
    background: @white;
    padding: 0 13px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 13px;
      width: 8px;
      height: 8px;
      border: 1px solid #9d9d9d;
      border-width: 1px 1px 0 0;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  .user-order-action-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: @white;
    height: 57px;
    border-top: 0.5px solid #e6e6e6;
    font-size: 15px;
    font-weight: 500;
    padding-left: 13px;
    .name {
      color: #333333;
      line-height: 57px;
    }
    .price {
      line-height: 57px;
      color: #ff0000;
      padding-left: 5px;
    }
  }
  .action-area {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    .btn {
      display: inline-block;
      padding: 0 21px;
      line-height: 30px;
      color: #ffffff;
      font-size: 15px;
      border-radius: 2px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  //用户评论
  .user-comment-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    padding: 20px 13px;
    .box {
      position: relative;
      border-radius: 8px;
      background: @white;
      padding-bottom: 15px;
      .icon-close-gray {
        position: absolute;
        bottom: -68px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        font-size: 51px;
      }
    }
    .header-area {
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid #e6e6e6;
      padding: 20px 0;
      background: @white;
      li {
        &:nth-of-type(1) {
          flex: 0 0 85px;
        }
        &:nth-of-type(2) {
          width: 0;
          flex: 1 0 auto;
          padding-left: 15px;
        }
      }
      .dps-header {
        padding: 3px;
        border: 1px solid #e6e6e6;
        width: 62px;
        height: 62px;
        background: @white;
        display: inline-block;
        >img {
          width: 100%;
          height: 100%;
          border: 1px solid #e5e5e5;
        }
      }
      .nickname {
        margin-left: -7px;
        font-size: 14px;
        color: #333333;
        font-weight: 500;
        display: block;
        margin-bottom: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      time {
        display: block;
        font-size: 11px;
        line-height: 19px;
        color: #333333;
      }
    }
    .star-area {
      font-size: 24px;
      padding: 20px 0 30px;
      .icon {
        margin-right: 13px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .content {
      padding: 0 23px;
      textarea {
        width: 100%;
        height: 140px;
        padding: 12px 9px;
        font-size: 13px;
        -webkit-appearance: none;
        border-radius: 5px;
        background: #f7f7f7;
        border-width: 0;
      }
    }
    .finish-btn {
      margin: 15px auto 0;
      line-height: 30px;
      padding: 0 21px;
    }
  }
  // 红包区域
  .red-package-area {
    position: fixed;
    top: 50%;
    right: 13px;
    transform: translate3d(0, -50%, 0);
    width: 64px;
    img {
      width: 64px;
    }
    .red-fun {
      height: 61px;
      animation: bounce 0.5s linear infinite;
    }
    .fahongbao {
      height: 23px;
    }
  }
  .share-red-package {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
  }
  .reward-money-area {
    .action-area {
      padding-top: 10px;
      position: static;
    }
  }
}