.pay-page {
    >.service-type {
        background: @white;
        line-height: 70px;
        color: #1a1a1a;
        font-size: 16px;
        padding-left: 13px;
        font-weight: 500;
    }
    .pay-money {
        margin-top: 7px;
        padding-left: 13px;
        background: @white;
        li {
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            color: #666666;
            font-weight: 500;
            &.promotionCode{
                border-bottom: 1px solid #e6e6e6;
            }
            .money {
                display: inline-block;
                margin-left: 20px;
                font-size: 15px;
                color: #1a1a1a;
            }
            .used-one {
                display: inline-block;
                margin-left: 5px;
                font-size: 13px;
                color: #999999;
            }
            .borrow{
                position: absolute;
                top:50%;
                right: 13px;
                width:10px;
                height: 10px;
                border:1px solid #a3a3a4;
                border-width: 0 0 1px 1px;
                transform:translate(0,-50%) rotate(-45deg);
            }
        }
    }
    .to-pay {
        margin-top: 7px;
        li {
            line-height: 60px;
            background: @white;
            &:nth-of-type(1) {
                padding-left: 13px;
                flex: 1 0 auto;
                font-size: 14px;
                color: #1a1a1a;
                font-weight: 500;
                .num {
                    color: #1a1a1a;
                    display: inline-block;
                    margin-left: 3px;
                }
            }
            &:nth-of-type(2) {
                flex: 0 0 118px;
                .pay-btn {
                    background: #1a1a1a;
                    width: 100%;
                    line-height: 60px;
                    font-size: 15px;
                    height: 60px;
                    font-weight: 500;
                    color: #fffefe;
                    border-radius: 0;
                }
            }
        }
    }
    .service-note-title {
        margin-top: 28px;
        margin-bottom: 12px;
        font-size: 13px;
        color: #999999;
    }
    .pay-note-content {
        padding: 0 13px;
        font-size: 11px;
        line-height: 18px;
        color: #999999;
        text-align: justify;
    }
}