.profile-page {
    background: #eff3f6!important;
    padding: 50px 13px;
    .cicle {
        position: absolute;
        top: 5px;
        left: 50%;
        z-index: 1;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: @white;
        transform: translateX(-50%);
        box-shadow: 0 0 24px rgba(0, 0, 0, .06);
    }
    .box {  
        position: relative;
        z-index: 9;
        background: @white;
        min-height: 200px;
        box-shadow: 0 0 24px rgba(0, 0, 0, .06);
        border-radius: 3px;
        padding: 42px 17px 15px;
        .head-img-area {
            position: absolute;
            top: -41px;
            left: 50%;
            transform: translateX(-50%);
            .icon {
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
        }
        .head-img-area, .head-img {
            width: 72px;
            height: 72px;
            border-radius: 50%;
        }
        .nickname {
            font-size: 17px;
            color: #333333;
            font-weight: bold;
        }
        .address, .job {
            display: inline-block;
            font-size: 13px;
            color: #666666;
            font-weight: 500;
        }
        .address {
            margin-top: 10px;
            margin-right: 20px
        }
        .age-height-weight {
            padding-top: 38px;
            font-size: 13px;
            color: #333333;
            font-weight: 500;
            label {
                color: #808080;
                padding-right: 10px;
            }
        }
        .face-skin-body {
            padding-bottom: 12px;
            dt {
                display: block;
                width: 100%;
                color: #666666;
                font-size: 13px;
                font-weight: 500;
                padding: 26px 0 20px
            }
            img {
                margin: auto;
            }
            .name {
                font-size: 14px;
                color: #333333;
                font-weight: 500;
                margin-top: 7px;
            }
        }
        .title {
            padding-top: 16px;
            padding-bottom: 25px;
            color: #666666;
            font-size: 13px;
            font-weight: 500;
        }
        .solutions, .styles {
            margin: 0 -17px;
            border-bottom: 0.3px solid #ebebeb;
            padding: 0 17px;
            li {
                position: relative;
                color: #333333;
                font-size: 13px;
                font-weight: 500;
                line-height: 38px;
                padding-left: 13px;
                padding-right: 2px;
                overflow: hidden;
                white-space: nowrap;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #999999;
                    transform: translateY(-50%);
                }
            }
        }
        .to-write {
            width: 114px;
            line-height: 30px;
            background: @white;
            font-size: 14px;
            color: #333333;
            border-radius: 3px;
            border: 1px solid #a8a8a8;
            margin: 15px auto 0;
            >span {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    right: -16px;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    border: 1px solid #696969;
                    border-width: 1px 1px 0 0;
                }
            }
        }
    }
    .lifePhoto-area {
        box-shadow: 0 0 24px rgba(0, 0, 0, .06);
        border-radius: 3px;
        margin-top: 10px;
        padding: 0 17px 30px;
        background: @white;
        >h2 {
            font-size: 15px;
            color: #1a1a1a;
            font-weight: 500;
            padding: 17px 0;
        }
        .upload-control-area {
            li {
                position: relative;
                &:nth-of-type(1) {
                    padding-right: 5px;
                }
                &:nth-of-type(2) {
                    padding-left: 5px;
                }
            }
        }
        .upload-area {
            position: relative;
            border: 1px dashed #cccccc;
            height: 170px;
            text-align: center;
            padding-top: 42px;
            &.active{
                border-style: none;
            }
            .icon-camera {
                font-size: 35px;
            }
            >p {
                font-size: 15px;
                color: #666666;
                margin-top: 25px;
            }
            .img-show, .upload-file {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            .img-show {
                z-index: 8;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .upload-file {
                z-index: 9;
                opacity: 0;
            }
        }
    }
}