.profile-container {
    background: #f0f5f9!important;
    header.flex-box {
        background: @white;
        padding: 20px 13px;
        >.item-2 {
            width: 0;
            &:first-child {
                flex: 0 0 73px;
            }
            &:last-child {
                flex: 1 0 auto;
                padding: 12px 0 0 16px;
                .name {
                    color: #333333;
                    font-size: 17px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .box {
                    li {
                        &:nth-of-type(1) {
                            width: 0;
                            flex: 1 0 auto;
                            color: #666666;
                            font-size: 13px;
                            font-weight: 600;
                            .base {
                                line-height: 18px;
                                >span {
                                    padding-right: 10px;
                                }
                            }
                            .job {
                                line-height: 18px;
                            }
                        }
                        &:nth-of-type(2) {
                            flex: 0 0 91px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
        .head-img {
            position: relative;
            >img {
                width: 73px;
                height: 73px;
                border-radius: 50%;
            }
            .icon {
                position: absolute;
                bottom: 3px;
                right: 3px;
                font-size: 15px;
            }
        }
        .again-write {
            display: block;
            width: 92px;
            color: #ff6064;
            font-size: 14px;
            font-weight: 600;
            border-radius: 15px;
            border: 1px solid #ff6064;
            line-height: 30px;
            text-align: center;
        }
    }
    .figure-info-area {
        background: @white;
        margin: 10px 13px 12px;
        padding-bottom: 17px;
        .title {
            text-align: center;
            font-size: 16px;
            color: #333333;
            font-weight: 600;
            border-bottom: 1px solid #e5e5e5;
            line-height: 55px;
            margin-bottom: 18px;
        }
        >p {
            color: #666666;
            font-size: 14px;
            font-weight: 600;
            margin:0 10px 20px;
            &:nth-of-type(4) {
                margin-bottom: 0;
            }
            >span {
                font-weight: 400;
                color: #cccccc;
                font-size: 12px;
                &.active {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
        .body-img-area {
            .item-3 {
                img {
                    margin: auto;
                }
            }
        }
    }
    .photo-wall {
        min-height: 5rem;
        background: @white;
        margin: 1rem;
        padding-bottom: 30px;
        .title {
            text-align: center;
            font-size: 1.6rem;
            line-height: 30px;
            padding: 15px 0;
        }
        .photo-area {
            display: flex;
            flex-wrap: wrap;
            .item {
                flex: 0 0 33.3%;
                padding: 5px 5px;
                height: 80px;
                img {
                    margin: auto;
                    width: 80px;
                    max-height: 100%;
                }
            }
        }
    }
}